body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(13, 73, 79, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: azure;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  display: inline-block;
}

nav {
  display: inline-block;
}

.Links {
  display: inline-block;
}

.Links li {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
}
